
#contorno {
width: 1200px;
height: 1000px;
background: #C1FC9C ;
margin: 0.8em auto;
padding: 0.8em;
}

#header {
height: 8%;
background: #F3A795 ;
border-radius: 2em;
margin: 1em;
}

#nav {
height: 9%;
background: #94FEF6 ;
border-radius: 1em;
margin: 1em;
}

#contenido {
height: 42.3%;
margin: 1em;
background: #FEDC94 ;
}

#footer {
height: 10%;
background: #F790C5  ;
border-radius: 1em;
margin: 1em;
}

#section {<center>
height: 90%;
width: 60%;
background:  #FEDC94 ;
border-radius: 1em;
float: left;
margin-left: 0.5em; </center>
}

#aside {
height: 55%;
width: 35%;
background: #90F7BD ;
border-radius: 1em;
float:right;
margin-right:0.5em;
}

.articulo {
width: 95%;
height: 20%;
background: #90E7F7 ;
margin: 1em;
border-radius: 1em;
}